@model IEnumerable<CarShop.Models.Car>

@{
    ViewData["Title"] = "Home";
}


<h2>Welcome To the Super Car Shop</h2>
<div class="container">
    <div class=" car-list">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="each-car">
                    <h3>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </h3>
                    <p>
                        @Html.DisplayFor(modelItem => item.Model)
                    </p>
                    <img src="~/img/@Html.DisplayFor(modelItem => item.ImageUrl)" alt="tasty pie" />
                    <p>
                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                </div>
            </a>
        }
    </div>
</div>